repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: '\.(pdb|gro|top|sdf)$'
  - id: debug-statements
- repo: https://github.com/psf/black
  rev: 21.8b0
  hooks:
  - id: black
    files: ^openff
    args: [--check]
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort
    files: ^openff
    args: [--check]
- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    files: ^openff
    additional_dependencies: [
        'flake8-bugbear',
        'flake8-absolute-import',
        'flake8-pytest-style',
    ]
- repo: https://github.com/asottile/pyupgrade
  rev: v2.25.0
  hooks:
  - id: pyupgrade
    files: ^openff/interchange
    exclude: openff/interchange/_version.py|setup.py
    args: [--py37-plus]
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    files: ^openff/interchange
    args: ["--config=setup.cfg"]
- repo: https://github.com/econchick/interrogate
  rev: 1.4.0
  hooks:
    - id: interrogate
      args: [--fail-under=60, openff/interchange/]
- repo: https://github.com/asottile/blacken-docs
  rev: v1.11.0
  hooks:
    - id: blacken-docs
      additional_dependencies: [black==21.6b0]
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.1.0
  hooks:
    - id: nbqa-pyupgrade
      args:
        - --py37-plus
    - id: nbqa-isort
    - id: nbqa-black
