repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: '\.(pdb|gro|top|sdf)$'
  - id: debug-statements
- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.1.0
  hooks:
  - id: add-trailing-comma
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
  - id: black
    files: ^openff|plugins|stubs
  - id: black-jupyter
    files: ^examples
- repo: https://github.com/PyCQA/isort
  rev: 5.13.0
  hooks:
  - id: isort
    files: ^openff|plugins|stubs
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
  - id: flake8
    files: ^openff|plugins|stubs
    additional_dependencies: [
        'flake8-bugbear',
        'flake8-absolute-import',
        'flake8-pytest-style',
        'flake8-no-pep420',
    ]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
  hooks:
  - id: pyupgrade
    files: ^openff|plugins|stubs
    exclude: openff/interchange/_version.py|setup.py
    args: ["--py39-plus"]
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^openff|plugins
    args: ["--config=setup.cfg"]
- repo: https://github.com/econchick/interrogate
  rev: 1.5.0
  hooks:
    - id: interrogate
      args: ["openff/interchange/", "-e", "openff/interchange/_tests/"]
      pass_filenames: false
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
    files: ^docs/
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.38.0
  hooks:
  - id: markdownlint
    exclude: .github
    args: ["--disable", "MD013", "MD033", "MD024", "MD046", "--ignore", "docs/using/experimental.md", "--"]
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.7.1
  hooks:
    - id: nbqa-pyupgrade
      files: ^examples
      args:
        - --py38-plus
    - id: nbqa-isort
      files: ^examples
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
    - id: nbstripout
      files: ^examples
