repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: '\.(pdb|gro|top|sdf)$'
  - id: debug-statements
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    files: ^openff|devtools
  - id: black-jupyter
    files: ^examples
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    files: ^openff|devtools
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^openff
    additional_dependencies: [
        'flake8-bugbear',
        'flake8-absolute-import',
        'flake8-pytest-style',
        'flake8-no-pep420',
    ]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.0
  hooks:
  - id: pyupgrade
    files: ^openff/interchange
    exclude: openff/interchange/_version.py|setup.py
    args: [--py37-plus]
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    files: ^openff/interchange
    args: ["--config=setup.cfg"]
- repo: https://github.com/econchick/interrogate
  rev: 1.5.0
  hooks:
    - id: interrogate
      args: [--fail-under=60, openff/interchange/]
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    files: ^docs/
    additional_dependencies: [black==21.6b0]
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.5.3
  hooks:
    - id: nbqa-pyupgrade
      files: ^examples
      args:
        - --py37-plus
    - id: nbqa-isort
      files: ^examples
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
    - id: nbstripout
      files: ^examples
