[build-system]
build-backend = "setuptools.build_meta"

requires = [
  "setuptools",
  "setuptools-scm>=8",
]

[project]
name = "openff-interchange"
description = "A project (and object) for storing, manipulating, and converting molecular mechanics data."
readme = "README.md"
license = { text = "MIT" }
authors = [ { name = "Open Force Field Initiative", email = "info@openforcefield.org" } ]
requires-python = ">=3.11"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dynamic = [ "version" ]

[tool.setuptools.packages.find]
include = [ 'openff.interchange*' ]
exclude = [ 'openff.interchange._tests.data*' ]

[tool.setuptools_scm]
fallback_version = "0.0.0"

[tool.ruff]
line-length = 119
namespace-packages = [ "openff/interchange/" ]

lint.per-file-ignores."openff/interchange/**/__init__.py" = [ "F401" ]
lint.per-file-ignores."openff/interchange/*_pydantic.py" = [ "F401" ]
lint.per-file-ignores."openff/interchange/_tests/*" = [ "RUF015" ]
lint.per-file-ignores."openff/interchange/_tests/data/*" = [ "INP001" ]
lint.per-file-ignores."openff/interchange/_tests/unit_tests/test_types.py" = [ "F821" ]
lint.per-file-ignores."openff/interchange/components/*.py" = [ "F821" ]
lint.per-file-ignores."openff/interchange/components/interchange.py" = [ "F821" ]
lint.per-file-ignores."openff/interchange/foyer/_guard.py" = [ "F401" ]
lint.per-file-ignores."openff/interchange/foyer/_nonbonded.py" = [ "F821" ]
lint.per-file-ignores."openff/interchange/smirnoff/_*.py" = [ "RUF015" ]
lint.per-file-ignores."openff/interchange/smirnoff/_gbsa.py" = [ "F821" ]
lint.per-file-ignores."openff/interchange/smirnoff/_nonbonded.py" = [ "F821" ]
lint.per-file-ignores."openff/interchange/smirnoff/_virtual_sites.py" = [ "F821" ]
lint.per-file-ignores."plugins/*" = [ "INP001" ]
lint.isort.known-first-party = [ "openff.interchange" ]
# can't find a clean way to get Rust's globset to handle this via regex ...
lint.isort.known-third-party = [ "openff.toolkit", "openff.utilities", "openff.units" ]
lint.pydocstyle.property-decorators = [ "validator" ]

[tool.pytest.ini_options]
markers = [
  "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]
addopts = "--cov=openff/interchange --cov-report=xml --ignore=examples/experimental"

[tool.coverage.run]
omit = [
  "*/*/_tests/*",
]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "if TYPE_CHECKING:",
  "raise NotImplementedError",
  "@overload",
]

[tool.mypy]
mypy_path = "stubs/"
python_version = "3.11"
plugins = "pydantic.mypy"
warn_unused_configs = true
warn_unused_ignores = true
warn_incomplete_stub = true
show_error_codes = true
exclude = 'openff/interchange/_tests'

[[tool.mypy.overrides]]
module = [
  "pyedr",
  "networkx",
  "openmm",
  "openmm.app",
  "openmm.app.element",
  "openmm.unit",
  "intermol.*",
  "rdkit",
  "openff.toolkit.*",
  "openff.units.*",
  "openff.utilities.*",
  "openff.recharge.*",
  "openff.nagl_models.*",
  "parmed",
  "parmed.amber",
  "pmdtest.utils",
  "pytest",
  "pint",
  "unyt",
  "openeye",
  "jax",
  "scipy.spatial",
  "nonbonded_plugins.*",
  "lammps",
]
ignore_missing_imports = true

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-magic = true
ignore-semiprivate = false
ignore-private = true
ignore-property-decorators = false
ignore-module = false
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = true
ignore-regex = [ "^Test.*", "test_.*", "^_.*" ]
fail-under = 90

[tool.pixi.workspace]
channels = [ "conda-forge", "openeye" ]
platforms = [ "linux-64", "osx-arm64" ]

[tool.pixi.tasks]
postinstall = "pip install -e . plugins/"

[tool.pixi.dependencies]
pip = "*"
numpy = "*"
setuptools_scm = "*"
pydantic = "=2"
openff-toolkit = "0.18.*"
ambertools = "24.*"
rdkit = ">=2024"
openmm = "8.4.*"

[tool.pixi.feature.openeye.dependencies]
openeye-toolkits = "*"

[tool.pixi.feature.test.dependencies]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-randomly = "*"
intermol = "*"

[tool.pixi.feature.test.tasks]
test = "python -m pytest --durations=20 -n logical openff/interchange/"

[tool.pixi.feature.examples.dependencies]
mdtraj = "*"
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
nbval = "*"
nglview = "*"
jax = "*"

[tool.pixi.feature.examples.tasks]
test = "python -m pytest -x -c pyproject.toml --nbval-lax --dist loadscope -n logical --durations=20 examples/"
run_examples = "python -m pytest -x -c pyproject.toml -p no:randomly --nbval-lax --dist loadscope -n logical --durations=20 examples/ --ignore=examples/experimental/ --ignore=examples/lammps/"

[tool.pixi.feature.typing.dependencies]
mypy = "*"
pandas-stubs = "*"

[tool.pixi.feature.dev.dependencies]
pre-commit = "*"

[tool.pixi.feature.regression_tests.dependencies]
deepdiff = "<=8"
rich = ">=14.0.0,<15"
click = ">=8.1.8,<9"

[tool.pixi.feature.engines]
dependencies = { gromacs = "*", lammps = "*" }

[tool.pixi.feature.py311.dependencies]
python = "3.11.*"
[tool.pixi.feature.py312.dependencies]
python = "3.12.*"
[tool.pixi.feature.py313.dependencies]
python = "3.13.*"

[tool.pixi.environments]
py311 = { features = [ "py311", "test", "typing", "regression_tests", "engines" ] }
py311openeye = { features = [ "py311", "openeye", "test", "typing", "regression_tests", "engines" ] }
py311examples = { features = [ "py311", "openeye", "test", "regression_tests", "engines", "examples" ] }
py312 = { features = [ "py312", "test", "typing", "regression_tests", "engines" ] }
py312openeye = { features = [ "py312", "openeye", "test", "typing", "regression_tests", "engines" ] }
py312examples = { features = [ "py312", "openeye", "test", "regression_tests", "engines", "examples" ] }
py313 = { features = [ "py313", "test", "typing", "regression_tests", "engines" ] }
py313openeye = { features = [ "py313", "openeye", "test", "typing", "regression_tests", "engines" ] }
py313examples = { features = [ "py313", "openeye", "test", "regression_tests", "engines", "examples" ] }
dev = { features = [ "py312", "openeye", "test", "typing", "dev", "engines" ] }
