[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-magic = true
ignore-semiprivate = false
ignore-private = true
ignore-property-decorators = false
ignore-module = false
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = true
ignore-regex = ["^Test.*", "test_.*", "^_.*"]
fail-under = 90

[tool.ruff.lint.per-file-ignores]
"examples/deprecated/*" = ["NPY"]
