name: Tests against betas

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.10"
          - "3.11"
        pydantic-version:
          - "2"
        openeye:
          - true
          - false

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      COV: --cov=openff/interchange --cov-report=xml --cov-config=setup.cfg --cov-append

    steps:
    - uses: actions/checkout@v4

    - name: Install conda environment
      uses: mamba-org/setup-micromamba@v1
      with:
        micromamba-version: '1.5.10-0'
        environment-file: devtools/conda-envs/beta_env.yaml
        create-args: >-
          python=${{ matrix.python-version }}
          pydantic=${{ matrix.pydantic-version }}

    - name: Install package
      run: |
        micromamba remove --force openff-interchange openff-interchange-base
        python -m pip install . plugins/

    - name: Environment Information
      run: conda info && conda list

    - name: License OpenEye
      if: ${{ matrix.openeye == true }}
      run: |
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Run mypy
      continue-on-error: true
      run: mypy --show-error-codes --namespace-packages -p "openff.interchange"

    - name: Run all tests
      if: always()
      run: python -m pytest -v $COV openff/interchange/

    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        fail_ci_if_error: false
