name: Tests against betas

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-latest
          - ubuntu-latest
        python-version:
          - "3.8"
          - "3.9"
    env:
      CI_OS: ${{ matrix.os }}
      PYVER: ${{ matrix.python-version }}
      COV: --cov=openff/interchange --cov-report=xml --cov-config=setup.cfg --cov-append

    steps:
    - uses: actions/checkout@v3

    - uses: conda-incubator/setup-miniconda@v2.1.1
      with:
        python-version: ${{ matrix.python-version }}
        environment-file: devtools/conda-envs/beta_env.yaml
        activate-environment: test
        auto-activate-base: false
        mamba-version: "*"
        miniforge-version: latest
        miniforge-variant: Mambaforge
        use-mamba: true

    - name: Additional info about the build
      run: |
        uname -a
        df -h
        ulimit -a

    - name: Environment Information
      run: |
        conda info
        conda list

    - name: Install package
      run: |
        python setup.py develop --no-deps

    - name: Run mypy
      continue-on-error: true
      run: |
        mypy --show-error-codes --namespace-packages -p "openff.interchange"

    - name: Run all tests
      if: always()
      run: |
        python -m pytest -v $COV openff/interchange/ -m "slow or not slow"

    - name: Run example notebooks
      run: |
        python -m pytest -v $COV examples/ --nbval-lax -p no:randomly

    - name: Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
