name: Tests against betas

on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.11"
          - "3.12"
        openeye:
          - true
          - false

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt

    steps:
    - uses: actions/checkout@v6

    - name: Install conda environment
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: devtools/conda-envs/test_env.yaml
        condarc: |
            channels:
              - openeye/label/rc
              - conda-forge/label/openmm_rc
              - conda-forge/label/mdtraj_rc
              - conda-forge/label/openff-toolkit_rc
              - conda-forge/label/openff-interchange_rc
              - openeye
              - conda-forge
        create-args: >-
          python=${{ matrix.python-version }}
          rdkit

    - name: Install and license OpenEye Toolkits
      if: ${{ matrix.openeye == true }}
      run: |
        micromamba install "openeye-toolkits =2025" -c openeye/label/beta -c openeye
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Install package
      run: python -m pip install . plugins/

    - name: Install AmberTools
      if: ${{ matrix.openeye == false }}
      run: micromamba install "ambertools =24" -c conda-forge

    - name: Run tests
      run: python -m pytest $COV openff/interchange/ -r fExs -n logical --durations=10

    - name: Run mypy
      run: |
        # As of 01/23, JAX with mypy is too slow to use without a pre-built cache
        # https://github.com/openforcefield/openff-interchange/pull/578#issuecomment-1369979875
        micromamba remove jax
        python -m mypy -p "openff.interchange" --exclude "openff/interchange/_tests/"
        python -m mypy plugins/nonbonded_plugins/

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
