name: Tests against betas

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.11"
          - "3.12"
        openeye:
          - true
          - false

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install conda environment
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: devtools/conda-envs/test_env.yaml
        condarc: |
            channels:
              - openeye/label/rc
              - conda-forge/label/openmm_rc
              - conda-forge/label/mdtraj_rc
              - conda-forge/label/openff-toolkit_rc
              - conda-forge/label/openff-interchange_rc
              - openeye
              - conda-forge
        create-args: >-
          python=${{ matrix.python-version }}
          rdkit

    - name: Install package
      run: python -m pip install . plugins/

    - name: Install and license OpenEye Toolkits
      if: ${{ matrix.openeye == true }}
      run: |
        micromamba install "openeye-toolkits =2025" -c openeye/label/beta -c openeye
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Run mypy
      run: mypy --show-error-codes --namespace-packages -p "openff.interchange"

    - name: Run all tests
      if: always()
      run: python -m pytest -v openff/interchange/

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
