name: full_tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]
    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      COV: --cov=openff/interchange --cov-report=xml --cov-config=setup.cfg --cov-append

    steps:
    - uses: actions/checkout@v2.4.0

    - uses: conda-incubator/setup-miniconda@v2.1.1
      with:
        python-version: "${{ matrix.python-version }}"
        environment-file: devtools/conda-envs/test_env.yaml
        activate-environment: test
        auto-activate-base: false
        mamba-version: "*"
        miniforge-version: latest
        miniforge-variant: Mambaforge
        use-mamba: true

    - name: Additional info about the build
      run: |
        uname -a
        df -h
        ulimit -a

    - name: Environment Information
      run: |
        conda info
        conda list

    - name: Install package
      run: |
        python setup.py develop --no-deps

    - name: License OpenEye
      run: |
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Run mypy
      run: |
        mypy --namespace-packages -p "openff.interchange"

    - name: Run docexamples
      run: |
        pytest -v --doctest-modules openff/interchange/ --ignore=openff/interchange/energy_tests --ignore=openff/interchange/unit_tests --ignore=openff/interchange/data --ignore=openff/interchange/interoperability_tests

    - name: Run all tests
      if: always()
      run: |
        python -m pytest -v -nauto $COV openff/interchange/ -m "slow or not slow"

    - name: Run example notebooks
      run: |
        python -m pytest -v $COV examples/ --nbval-lax

    - name: Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
