name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: pixi run bash -e {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, ${{ matrix.environment }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        environment:
          - py311amber
          - py311openeye
          - py311examples
          - py311etc
          - py311amber
          - py312openeye
          - py312examples
          - py312etc
          - py313openeye
          - py313examples
          - betas

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      COV: --cov=openff/interchange --cov-report=xml --cov-config=pyproject.toml --cov-append

    steps:
    - uses: actions/checkout@v6

    - name: Set up virtual environment
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.41.4
        environments: ${{ matrix.environment }}
        frozen: true

    - name: Install and license OpenEye Toolkits
      if: ${{ !contains(matrix.environment, 'amber') }}
      run: |
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        pixi run -e ${{ matrix.environment }} python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Run mypy
      if: ${{ !contains(matrix.environment, 'examples') }}
      run: pixi run -e ${{ matrix.environment }} run_mypy

    - name: Run tests
      if: ${{ !contains(matrix.environment, 'examples') }}
      run: pixi run -e ${{ matrix.environment }} run_tests

    - name: Run examples
      if: ${{ contains(matrix.environment, 'examples') }}
      run: pixi run -e ${{ matrix.environment }} run_examples

    - name: Run small molecule regression tests
      if: ${{ contains(matrix.environment, 'openeye') }}
      run: pixi run -e ${{ matrix.environment }} run_regression_tests

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
