name: CI

on:
  push:
    branches:
      - "master"
      - "maintenance/.+"
  pull_request:
    branches:
      - "master"
      - "maintenance/.+"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest]
        python-version: [3.6, 3.7]
    env:
      CI_OS: ${{ matrix.os }}
      PYVER: ${{ matrix.python-version }}
      COV: --cov=openff/system --cov-report=xml --cov-config=setup.cfg --cov-append

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v1
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: test
        mamba-version: "*"
        channels: conda-forge,defaults
        channel-priority: true
        environment-file: devtools/conda-envs/test_env.yaml
        auto-activate-base: false

    - name: Additional info about the build
      shell: bash
      run: |
        uname -a
        df -h
        ulimit -a

    - name: Environment Information
      shell: bash -l {0}
      run: |
        conda info
        conda list

    - name: Install package
      shell: bash -l {0}
      run: |
        python setup.py develop --no-deps

    - name: Install JAX if using Python 3.7
      if: ${{ matrix.python-version == 3.7 }}
      shell: bash -l {0}
      run: |
          conda install jax -c conda-forge
          python -c "import jax"

    - name: Run unit tests
      shell: bash -l {0}
      run: |
        pytest -v $COV openff/system/tests/ --ignore=openff/system/tests/integration_tests/

    - name: Run example notebooks
      shell: bash -l {0}
      run: |
        pytest -v $COV examples/ --ignore=examples/SMIRNOFF_simulation.ipynb

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
