name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: pixi run bash -e {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}, OpenMM ${{ matrix.openmm }}, OpenEye ${{ matrix.openeye }}, RDKit ${{ matrix.rdkit }}, AmberTools ${{ matrix.ambertools }}, NAGL ${{ matrix.nagl }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311
        openeye:
          - true
        openmm:
          - true

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      COV: --cov=openff/interchange --cov-report=xml --cov-config=pyproject.toml --cov-append

    steps:
    - uses: actions/checkout@v6

    - name: Set up virtual environment
      uses: prefix-dev/setup-pixi@v0.8.4
      with:
        pixi-version: v0.41.4
        environments: ${{ matrix.environment }}

    - name: Install and license OpenEye Toolkits
      if: ${{ matrix.openeye == true }}
      run: |
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Install editable build and test plugins
      run: pixi run -e ${{ matrix.environment }} postinstall

    - name: Run tests
      run: |
        # https://github.com/openforcefield/openff-units/issues/111
        pixi run python -c "from openff.toolkit import *"

        pixi run -e ${{ matrix.environment }} test

    - name: Run small molecule regression tests
      if: ${{ matrix.openeye == true && matrix.openmm == true }}
      run: |
        pixi run -e ${{ matrix.environment }} python -m pip install git+https://github.com/openforcefield/interchange-regression-testing.git@7c98afd2b4ea425276dfe1687e639e0a56b636b4

        pixi run -e ${{ matrix.environment }} create_openmm_systems \
          --input             "regression_tests/small-molecule/input-topologies.json" \
          --output            "regression_tests/small-molecule/" \
          --using-interchange \
          --force-field       "openff-2.0.0.offxml" \
          --n-procs           4

        # Don't trust the interchange version here, for some reason, just put it in a new directory
        mkdir regression_tests/small-molecule/omm-systems-interchange-latest/
        mv regression_tests/small-molecule/omm-systems-interchange-*/*xml regression_tests/small-molecule/omm-systems-interchange-latest/

        pixi run -e ${{ matrix.environment }} compare_openmm_systems \
          --input-dir-a       "regression_tests/small-molecule/omm-systems-toolkit-0.10.6" \
          --input-dir-b       "regression_tests/small-molecule/omm-systems-interchange-latest" \
          --output            "regression_tests/differences.json" \
          --settings          "regression_tests/default-comparison-settings.json" \
          --expected-changes  "regression_tests/toolkit-to-interchange.json" \
          --n-procs           4

        pixi run -e ${{ matrix.environment }} python devtools/scripts/molecule-regressions.py

    - name: Run mypy
      run: |
        # As of 01/23, JAX with mypy is too slow to use without a pre-built cache
        # https://github.com/openforcefield/openff-interchange/pull/578#issuecomment-1369979875
        pixi remove jax
        python -m mypy -p "openff.interchange" --exclude "openff/interchange/_tests/"
        python -m mypy plugins/nonbonded_plugins/

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
