name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: pixi run bash -e {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}, OpenMM ${{ matrix.openmm }}, OpenEye ${{ matrix.openeye }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment:
          - py311examples
          - py312examples
          - py313examples

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt

    steps:
    - uses: actions/checkout@v6

    - name: Set up virtual environment
      uses: prefix-dev/setup-pixi@v0.8.4
      with:
        pixi-version: v0.41.4
        environments: ${{ matrix.environment }}

    - name: Install and license OpenEye Toolkits
      if: ${{ matrix.openeye == true }}
      run: |
        echo "${SECRET_OE_LICENSE}" > ${OE_LICENSE}
        python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
      env:
        SECRET_OE_LICENSE: ${{ secrets.OE_LICENSE }}

    - name: Install editable build and test plugins
      run: pixi run -e ${{ matrix.environment }} postinstall

    - name: Run examples
      run: |
        # https://github.com/openforcefield/openff-units/issues/111
        pixi run python -c "from openff.toolkit import *"

        pixi run -e ${{ matrix.environment }} test
